body{
  display:flex;
  flex-direction:column;
  background:linear-gradient(65deg,white ,#6aa6a4);
}
p{
  font-size:18px;
}
#intro{
  border:2px dotted;
  border-color:#3498DB;
  margin-left:20px;
  padding-left:20px;
  border-radius:10px;
    position: relative;
  display: inline-block;
  max-width:800px;
}
.dropbutton {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 5px 10px 5px 20px;
  border-radius: 10px;
}

.dropbutton:hover, .dropbutton:focus {
  background-color: #2980B9;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropcontent {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 1;
  margin-left:20px;
  margin-bottom:10px;
  border:2px solid;
  border-style:none none none none;
  border-radius:10px;
}

.dropcontent p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
footer{
background-color: #f9fade;
padding: 10px 10px 10px 10px;
  color:#2980B9;
    text-align:right;
  margin-top: 20px;
  border-radius:10px;
  position:fixed;
  bottom:0;
  right: 0;
}
.head{
  background-color: #f9fade;
padding: 5px 10px 0px 10px;
  color:#2980B9;
  border-radius:10px;
}
header.text{
  text-align:center;
  opacity:0.95;
  font-size:30px;
}
h2{
  margin-left:20px;
  font-size:20px;
}
#step4{
  margin-bottom: 100px;
}
#subtitle{
  text-align:center;
  font-size:20px;
}